* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

body {
    background: #f5f5f5;
}

.loader {
    width: 64px;
    height: 64px;
    position: absolute;
    /* excluir */
    z-index: 1000;
    /* excluir */
    top: 40%;
    left: 50%;
    border: 6px solid #cecece;
    border-bottom-color: #0288d1;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#map {
    height: 50vh;
}

.leaflet-popup-content-wrapper {
    text-align: center;
}

.popup-button {
    background: #0288d1;
    color: #fff;
    outline: none;
    padding: 3px 8px;
    border-radius: 10px;
}

.popup-button:hover {
    cursor: pointer;
}
